/* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */

/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */

/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */

/******************************* For Desktop Screen ********************************/
@media (min-width: 1024px) {
  .top-navigation .trigram {
    display: none;
    padding: 0;
    margin: 0;
  }
  .content {
    margin: 0;
    max-width: 100%;
  }
  .content .section-info p.subtext {
    color: #969696;
  }
  .fa .fa-bars,
  ul li:nth-child(3) {
    display: none;
  }
  .trigram {
    display: none;
  }
  .top-navigation a:hover {
    color: blue;
  }
  .facebook:hover {
    color: blue;
  }
  .twitter:hover {
    color: rgb(9, 216, 248);
  }
  .linkedin:hover {
    color: rgb(9, 216, 248);
  }
  .fa-facebook:hover {
    color: blue;
  }
  .fa-twitter:hover {
    color: rgb(9, 216, 248);
  }
  .fa-linkedin:hover {
    color: rgb(9, 216, 248);
  }
  .linked-in:hover {
    color: rgb(9, 216, 248);
  }
  .instagram:hover {
    color: rgb(255, 106, 0);
  }
  .fa-instagram:hover {
    color: rgb(255, 106, 0);
  }
  .email a:hover {
    color: blue;
  }
  .phones a:hover {
    color: blue;
  }
  /* Noting works because I can not have access to styles.css so I can not use any of the below commands!!! 
  You can not edited anything below OUR TEAM because styles.css over rights anything you try to edit.  This 
  responsive.css file is only good for media queries and allowable elements allowed to edit, which we did not cover
  in these videos!!!
  .teammates-list:after .teammates-list:before {
    display: none;
    visibility: hidden;
    color: white;
  }
  .teamate-list-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .teammate-data{
    display: flex;
    justify-content: center;
  }
  .social-icons{
    
  }*/
}
/******************************* For Tablet Screen ********************************/
@media (min-width: 768px) AND (max-width: 1023px) {
  .content.header-content {
    position: fixed;
    width: 100%;
    background-color: white;
  }
  .top-navigation ul {
    display: none;
  }
  .top-navigation .trigram i.fa.fa-bars {
    display: contents;
    color: red;
  }
  .content .section-info p.subtext {
    color: #969696;
  }
  .header-content {
    border-bottom: 2px solid #969696;
  }
  .top-navigation a:hover {
    color: blue;
  }
  .facebook:hover {
    color: blue;
  }
  .twitter:hover {
    color: rgb(9, 216, 248);
  }
  .linkedin:hover {
    color: rgb(9, 216, 248);
  }
  .fa-facebook:hover {
    color: blue;
  }
  .fa-twitter:hover {
    color: rgb(9, 216, 248);
  }
  .fa-linkedin:hover {
    color: rgb(9, 216, 248);
  }
  .linked-in:hover {
    color: rgb(9, 216, 248);
  }
  .instagram:hover {
    color: rgb(255, 106, 0);
  }
  .fa-instagram:hover {
    color: rgb(255, 106, 0);
  }
  .email a:hover {
    color: blue;
  }
  .phones a:hover {
    color: blue;
  }
  .portfolio-list {
    display: flex;
    flex-direction: column;
  }
  .portfolio-item {
    display: flex;
    flex-direction: row;
  }
  .portfolio-img-wrapper {
    width: 50rem;
  }
  .portfolio-item-info .item-title {
    padding-top: 15px;
  }
}
/******************************* For Mobile Screen ********************************/
@media (min-width: 1px) AND (max-width: 767px) {
  .content.header-content {
    position: fixed;
    width: 100%;
    background-color: white;
  }
  .portfolio-item {
    display: flex;
    flex-direction: column;
  }
  .portfolio-list {
    display: flex;
    flex-direction: column;
  }
  span {
    display: flex;
    justify-content: center;
  }
  .top-navigation .trigram i.fa.fa-bars {
    display: contents;
    color: blue;
  }
  .top-navigation ul {
    display: none;
  }
  .content .section-info p.subtext {
    color: #969696;
  }
  .header-content {
    border-bottom: 2px solid #969696;
  }
  .top-navigation a:hover {
    color: blue;
  }
  .facebook:hover {
    color: blue;
  }
  .twitter:hover {
    color: rgb(9, 216, 248);
  }
  .linkedin:hover {
    color: rgb(9, 216, 248);
  }
  .fa-facebook:hover {
    color: blue;
  }
  .fa-twitter:hover {
    color: rgb(9, 216, 248);
  }
  .fa-linkedin:hover {
    color: rgb(9, 216, 248);
  }
  .linked-in:hover {
    color: rgb(9, 216, 248);
  }
  .instagram:hover {
    color: rgb(255, 106, 0);
  }
  .fa-instagram:hover {
    color: rgb(255, 106, 0);
  }
  .email a:hover {
    color: blue;
  }
  .phones a:hover {
    color: blue;
  }
}
