/* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */

/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */

/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */

/******************************* For Desktop Screen ********************************/
@media (min-width: 1024px) 
{
  .top-navigation .trigram
  {
    display: none;
    padding: 0;
    margin: 0;
  }
  .content 
  {
    margin: 0;
    max-width: 100%;
  }
  .content .section-info p.subtext 
  {
    color: #969696;
  }
  .fa .fa-bars,
  ul li:nth-child(3)
  {
    display: none;
  }
  .trigram 
  {
    display: none;
  }

.top-navigation a:hover 
{
  color: blue;
}

.facebook:hover
{
  color: blue; 
}
.twitter:hover 
{
  color: rgb(9, 216, 248); 
}
.linkedin:hover
{
 color: rgb(9, 216, 248); 
}
.fa-facebook:hover
{
  color: blue; 
}
.fa-twitter:hover
{
  color: rgb(9, 216, 248); 
}
.fa-linkedin:hover
{
color: rgb(9, 216, 248);
}
.linked-in:hover
{
color: rgb(9, 216, 248);
}
.instagram:hover{
  color:rgb(255, 106, 0);
}
.fa-instagram:hover
{
 color:rgb(255, 106, 0); 
}
.email a:hover
{
  color: blue; 
}
.phones a:hover
{
  color: blue; 
}
}
/******************************* For Tablet Screen ********************************/
@media (min-width: 768px) AND (max-width: 1023px) 
{
  .top-navigation ul
  {
    display: none;
  }

  .top-navigation .trigram i.fa.fa-bars
  {
       display: contents;
       color: red;
  }
  .content .section-info p.subtext 
  {
    color: #969696;
  }
 .header-content
  {
    border-bottom: 2px solid #969696;
  }

}
/******************************* For Mobile Screen ********************************/
@media (min-width: 1px) AND (max-width: 767px) 
{
  .top-navigation .trigram i.fa.fa-bars 
  {
    display: contents;
    color: blue;
  }
  .top-navigation ul 
  {
    display: none;
  }

.content .section-info p.subtext 
{
    color: #969696;
}
 .header-content
{
    border-bottom: 2px solid #969696;
}
}

