/* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */

/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */

/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */

/******************************* For Desktop Screen ********************************/
@media (min-width: 1024px) {
  .top-navigation .trigram {
    display: none;
    padding: 0;
    margin: 0;
  }
  .content {
    margin: 0;
    max-width: 100%;
  }
  .content .section-info p.subtext {
    color: #969696;
  }
  .fa .fa-bars,
  ul li:nth-child(3) {
    display: none;
  }
  .trigram {
    display: none;
  }
  .top-navigation a:hover {
    color: blue;
  }
  .facebook:hover {
    color: blue;
  }
  .twitter:hover {
    color: rgb(9, 216, 248);
  }
  .linkedin:hover {
    color: rgb(9, 216, 248);
  }
  .fa-facebook:hover {
    color: blue;
  }
  .fa-twitter:hover {
    color: rgb(9, 216, 248);
  }
  .fa-linkedin:hover {
    color: rgb(9, 216, 248);
  }
  .linked-in:hover {
    color: rgb(9, 216, 248);
  }
  .instagram:hover {
    color: rgb(255, 106, 0);
  }
  .fa-instagram:hover {
    color: rgb(255, 106, 0);
  }
  .email a:hover {
    color: blue;
  }
  .phones a:hover {
    color: blue;
  }
  .facebook:hover div.icon,
  .twitter:hover div.icon,
  .instagram:hover div.icon,
  .linked-in:hover div.icon {
    background-color: white;
  }
}
/******************************* For Tablet Screen ********************************/
@media (min-width: 768px) AND (max-width: 1023px) {
  .content.header-content {
    position: fixed;
    width: 100%;
    background-color: white;
  }
  .top-navigation ul {
    display: none;
  }
  .top-navigation .trigram i.fa.fa-bars {
    display: contents;
    color: red;
  }
  .content .section-info p.subtext {
    color: #969696;
  }
  .header-content {
    border-bottom: 2px solid #969696;
  }
  .teammates-list:after,
  .teammates-list:before {
    display: none;
  }
  .teammates-list-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .teammate-img-wrapper {
    width: 100%;
  }
  .teammate-data {
    align-items: center;
  }

  .social-icons span {
    display: none;
  }
  footer .social-icons {
    width: 200px;
  }
  .footer-contacts ul li a {
    text-decoration: none;
    color: white;
  }
  .facebook .icon {
    background-color: white;
  }
  footer .social-icons .icon {
    background-color: white;
  }
  .teammate-social-icons div.facebook,
  div.twitter div.linkedin {
    background-color: #969696;
  }
  .footer-contacts {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    width: 60%;
    flex-wrap: wrap;
  }
  .teammate-info {
    align-items: center;
  }
  .top-navigation a:hover {
    color: blue;
  }
  .facebook:hover {
    color: blue;
  }
  .twitter:hover {
    color: rgb(9, 216, 248);
  }
  .linkedin:hover {
    color: rgb(9, 216, 248);
  }
  .fa-facebook:hover {
    color: blue;
  }
  .fa-twitter:hover {
    color: rgb(9, 216, 248);
  }
  .fa-linkedin:hover {
    color: rgb(9, 216, 248);
  }
  .linked-in:hover {
    color: rgb(9, 216, 248);
  }
  .instagram:hover {
    color: rgb(255, 106, 0);
  }
  .fa-instagram:hover {
    color: rgb(255, 106, 0);
  }
  .email a:hover {
    color: blue;
  }
  .phones a:hover {
    color: blue;
  }
  .portfolio-list {
    display: flex;
    flex-direction: column;
  }
  .portfolio-item {
    display: flex;
    flex-direction: row;
  }
  .portfolio-img-wrapper {
    width: 50rem;
  }
  .portfolio-item-info .item-title {
    padding-top: 15px;
  }
}
/******************************* For Mobile Screen ********************************/
@media (min-width: 1px) AND (max-width: 767px) {
  .content.header-content {
    position: fixed;
    width: 100%;
    background-color: white;
  }
  .portfolio-item {
    display: flex;
    flex-direction: column;
  }
  .portfolio-list {
    display: flex;
    flex-direction: column;
  }
  .item-title {
    display: flex;
    justify-content: center;
  }
  .teammates-list:after,
  .teammates-list:before {
    display: none;
  }
  .teammate {
    display: flex;
    flex-direction: row;
    border: 2px solid grey;
    padding: 1rem;
    width: 100%;
  }
  .teammate-info .teammate-name .teammate-role {
    display: flex;
    justify-content: flex-start;
  }
  .teammate-data {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    width: 100%;
  }
  .section-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .teammates-list-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio-item-info .item-description {
    display: flex;
    flex-wrap: wrap;
  }
  .teammate-social-icons {
    gap: 15px;
  }
  .teammate-image-wrapper {
    width: 100%;
  }
  .top-navigation .trigram i.fa.fa-bars {
    display: contents;
    color: blue;
  }
  .top-navigation ul {
    display: none;
  }
  .content .section-info p.subtext {
    color: #969696;
  }
  .header-content {
    border-bottom: 2px solid #969696;
  }
  .top-navigation a:hover {
    color: blue;
  }
  .facebook:hover {
    color: blue;
  }
  .twitter:hover {
    color: rgb(9, 216, 248);
  }
  .linkedin:hover {
    color: rgb(9, 216, 248);
  }
  .fa-facebook:hover {
    color: blue;
  }
  .fa-twitter:hover {
    color: rgb(9, 216, 248);
  }
  .fa-linkedin:hover {
    color: rgb(9, 216, 248);
  }
  .linked-in:hover {
    color: rgb(9, 216, 248);
  }
  .instagram:hover {
    color: rgb(255, 106, 0);
  }
  .fa-instagram:hover {
    color: rgb(255, 106, 0);
  }
  .email a:hover {
    color: blue;
  }
  .phones a:hover {
    color: blue;
  }
  .social-icons {
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  .facebook .icon {
    background-color: white;
  }
  footer .social-icons .icon {
    background-color: white;
  }
  .footer-contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .footer-contacts ul li a {
    text-decoration: none;
    color: white;
  }
}
